.div-A{
    background-color: #ffa500; 
    width: 500px; 
    height: 500px;
}
.div-B{
    background-color: #90ee90; 
    width: 50%; 
    height: 50%;
}
.paragrafo{
    color: white; 
    background-color: red; 
    font-size: 25px; 
    font-family: monospace; 
    font-weight: bold;
}
.div-D{
    width: 50%;
    height: 50vh; 
    background-color: rgb(69, 159, 255);
}
.div-E{
    width: 75vw; 
    height: 50%; 
    background-color: rgb(255, 1, 1);
}